/* .window-list-item {
  font-size: 36pt !important;
  padding: 10px 15px !important;
} */

.window-list-item StIcon {
  icon-size: 48px !important;
}

.window-list-item StLabel {
  font-size: 16pt !important;
}